
body{
    width: 1024px;
    background-image: url("backgroundtile.jpg");
    text-align: center;
    margin:auto;
}

ul.navigationbar {
    list-style:none;
    padding:0;
    text-align:center;
}
.navigationbar li {
    display: inline-block;
    width: 200px;
    color: white;
    text-align:left;
    text-align:center;
    font-weight: bold;
}
.navigationbar li a:hover {
    color: white;
}

.navigationbar li a {
    color: gray;
    text-decoration: none;
}
.navhome {
    background-color: azure;
}

.navpictures {
    background-color: rgb(147, 181, 221);
}
.navhome_hover {
    background-color: rgb(170, 192, 211);
    transition: background-color 1s;
    transform:rotate (180deg); 
}

.navpictures_hover {
    background-color: rgb(100, 161, 231);
    transition: background-color 1s;
}
.pagebanner {
    width: 1024px;
    height:600px;
    text-align: center;
    display:grid;
    grid-template-columns: 1fr 1fr;
    background-image: url("bannerbackground.jpg");
    background-size:cover;
    margin: auto;
}

